<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
<title>Home</title>
<script language="JavaScript"></script>
</head>

<body>
    <div class="navbox">
       
        <div>
            <a href="/home.hbs" class="logo"> Craftics </a>
        </div>

        <div class="page">
           <a href="/workspace.hbs">  Workspace </a>
        </div>
    
        <div class="page">
            <a href="/database.hbs">  Database </a>
        </div>
    
        <div class="page">
            <a href="/library.hbs">  Library </a>
        </div>
    
        <div class="page">
            <a href="/"> Logout </a>
        </div>

    </div>

    <div class="page">
            <h1>Welcome to Craftics!</h1>
            <h2> Here is a brief overview of what can be done using Craftics: </h2>

            <p>
            Check the <b> Database </b> tab for all patterns stored in the Craftic's database.
            The goal of this tab is to give you access to all patterns, such that you can save specific patterns of your liking.
            </p>
            <br>
            <p>
            After a pattern is saved, you can view it in the <b> Library </b> tab.
            Similar to the database, you can query your saved patterns to look for what you need.
            <b style="color: red">Please note that all users start with an empty library, so the more patterns you save the better your searches will be!</b>
            </p>
            <br>
            <p>
            If you want to add a pattern to the database, please navigate over to the <b> Workspace </b> tab.
            You will have the ability to continue working on existing patterns, deleting patterns, as well as publishing them
            so that it is viewable to all Craftics users. A pattern of your creation will automatically be added to your library.
            </p>
    </div>
</body>
</html>