<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
    <title>Pattern Preview</title>
    <script language="JavaScript">
        function addToLibrary(){
            //change the text of the button
            //route handler to add to library or remove from library
        }

    </script>
</head>

<body>
    <div class="navbox">
       
        <div>
            <a href="/home.hbs" class= "logo"> Craftics </a>
        </div>

        <div class="page">
            <BiBrush />
            <a href="/workspace.hbs">  Workspace </a>
        </div>
    
        <div class="page">
            <BiData /> 
            <a href="/database.hbs">  Database </a>
        </div>
    
        <div class="page">
            <BiLibrary />
            <a href="/library.hbs">  Library </a>
        </div>
    
        <div class="page">
            <a href="/"> <BiWrench /> Logout</a>
        </div>

    </div>

    <form class="add-template">

         <a style="margin-right: 1250px" href="/database.hbs"> <-- Go Back </a>
        &nbsp; &nbsp;
        <h2>
        Pattern Preview 
        </h2>
        <button onclick="addToLibrary()"> Add to Library </button>
        <br></br>
        <label class="product"> Image: </label>
        <br></br>
        <br></br>
        <label class="product"> Pattern Name: </label>
        <input type="text" class="product"/>
        <br></br>
        <label class="product"> Description: </label>
        <input type="text" class="product"/>
        <br></br>
        <label class="product"> Price: </label>
        <input type="number" class="product"/>
        <br></br>
        <a href="/add-product.hbs"> Add a Product </a> <!-- pass the pattern id to the product page -->
        <button> Open Pattern </button> <!-- route handler or js to open pdf in another tab -->
    </form>

</body>
</html>
