<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
<title>Login</title>
<script language="JavaScript"></script>
</head>

<body>
     <form method="POST" class="login" id="add-user" action="/add-user">
            <h1 class= "logo"> Craftics </h1>
            <h3> Username: </h3>
            <input type="text" name="username"></input>
            <h3> Password: </h3>
            <input type="text" name="password"></input>
            <br></br>
            <br></br>
            <button class="loginbutton" type="submit">Create Account</button>
       </form>
</body>
</html>