<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
<title>Login</title>
<script language="JavaScript"></script>
</head>

<body>
     <form class="center" method="POST" id="add-user" action="/add-user">
        <div class="login">
                <h1 class= "logo"> Craftics </h1>
                <h3> Username: </h3>
                <input type="text" name="username"></input>
                <h3> Password: </h3>
                <input type="text" name="password"></input>
                <br></br>
                <button  type="submit">Create Account</button>
        </div>
     </form>
</body>
</html>