<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
    <title>Start</title>
    <script language="JavaScript"></script>
</head>

<body>

<form class="login">
        <h1 class= "logo"> Craftics </h1>
        <a href="/login.hbs">Login</a>
        <br></br>
        <a href="/signup.hbs">Sign Up</a>
</form>

</body>
</html>