<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
    <title>Updating A Pattern</title>
    <script language="JavaScript"></script>
</head>

<body>
    <div class="navbox">
       
        <div>
            <a href="/home.hbs" class= "logo"> Craftics </a>
        </div>

        <div class="page">
            <BiBrush />
            <a href="/workspace.hbs">  Workspace </a>
        </div>
    
        <div class="page">
            <BiData /> 
            <a href="/database.hbs">  Database </a>
        </div>
    
        <div class="page">
            <BiLibrary />
            <a href="/">  Library </a>
        </div>
    
        <div class="page">
            <a href="/start.hbs"> <BiWrench /> Logout</a>
        </div>

    </div>

     <form>
        <h2> Update A Pattern </h2>
    
        <label class="product"> Pattern Name: </label>
        <input type="text" class="product"/>
        <br></br>
        <label class="product"> Description: </label>
        <input type="text" class="product"/>
        <br></br>
        <label class="product"> Price: </label>
        <input type="text" class="product"/>
        <br></br>
        <label class="product"> Attach PDF: </label>
        <input type="checkbox" class="product"/>
        <br></br>
        <label class="product"> Upload Image: </label>
        <input type="checkbox" class="product"/>
    </form>
</body>
</html>
