<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./app.css">
    <title>Updating A Pattern</title>
    <script language="JavaScript"></script>
</head>

<body>
    <div class="navbox">
        <div>
            <a href="/home.hbs" class= "logo"> Craftics </a>
        </div>

        <div class="page">
            <BiBrush />
            <a href="/workspace.hbs">  Workspace </a>
        </div>
    
        <div class="page">
            <BiData /> 
            <a href="/database.hbs">  Database </a>
        </div>
    
        <div class="page">
            <BiLibrary />
            <a href="/library.hbs">  Library </a>
        </div>
    
        <div class="page">
            <a href="/"> Logout</a>
        </div>
    </div>

     <form class="add-template" action="/update-pattern" method="POST">

     <a style="margin-right: 1050px" href="/workspace.hbs"> <-- Go Back </a>
        &nbsp; &nbsp;
        <h2> 
        Update A Pattern 
        </h2>
       {{#each data}}
        <label class="product"> Image: </label>
        <br></br>
        <br></br>
        <label class="product"> Pattern Name: </label>
        <input type="text" class="product" value="{{this.name}}"/>
        <br></br>
        <label class="product"> Description: </label>
        <input type="text" class="product" value="{{this.description}}"/>
        <br></br>
        <label class="product"> Price: </label>
        <input type="number" class="product" value="{{this.price}}"/>
        <br></br>
        {{/each}}
        <label class="product"> Attach PDF: </label>
        <input type="file" class="product" name="pattern-file"/>
        <br></br>
        <label class="product"> Upload Image: </label>
        <input type="file" class="product" name="image"/>
        <br></br>
        <br></br>
        <button onclick="deletePattern()"> delete Pattern </button>
    </form>
    
</body>
</html>
